:root {
  --white-color: #FFFFFF;
  --text-color: #000000;
  --brand-color: #F7941E;
  --bg-section-color: #F1F1F2;
  --black-color: #231F20;
  --bg-color: #FAFAFA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.blog__container {
  padding-top: 88px;
  padding-bottom: 80px;
}
.blog__title {
  margin-bottom: 21px;
  font-size: 32px;
  line-height: 1.281;
  text-align: center;
}
.blog__discr {
  margin-bottom: 71px;
  font-size: 18px;
  line-height: 1.333;
  text-align: center;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.block__content {
  padding-top: 63px;
  background-color: var(--black-color);
}
.block__discr {
  margin-bottom: 27px;
  padding-left: 78px;
  padding-right: 624px;
  font-size: 14px;
  line-height: 1.428;
  color: var(--white-color);
}
.block__title {
  margin-bottom: 60px;
  padding-left: 78px;
  padding-right: 200px;
  font-size: 48px;
  line-height: 1.27;
  color: var(--white-color);
}
.block__link {
  padding-left: 78px;
  padding-right: 620px;
  padding-bottom: 49px;
  font-size: 18px;
  line-height: 1.388;
  color: var(--white-color);
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.277px;
  min-width: 150px;
  height: 40px;
  padding: 8px 27px 8px 27px;
  color: var(--brand-color);
  background-color: var(--white-color);
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-hero {
  min-width: 200px;
  padding: 29px 24px;
  color: var(--white-color);
  background-color: var(--brand-color);
}

.button-work {
  min-width: 200px;
  padding: 29px 24px;
  color: var(--brand-color);
  background-color: var(--white-color);
}

.button-started {
  min-width: 200px;
  padding: 18px 24px 7px 25px;
  border: 1px solid var(--black-color);
  color: var(--white-color);
  background-color: var(--black-color);
}

.button-start {
  min-width: 200px;
  padding: 18px 24px 7px 25px;
  border: 1px solid var(--black-color);
  color: var(--black-color);
  background-color: var(--brand-color);
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.box__item {
  padding: 48px;
}
.box__item:hover {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
}
.box__title {
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 1.416;
}
.box__discr {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.388;
}
.box__link {
  color: var(--text-color);
}

.copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.copy__discr {
  font-size: 14px;
  line-height: 1.428;
}

.gifts__container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.gifts__title {
  margin-bottom: 21px;
  font-size: 32px;
  line-height: 1.205;
  text-align: center;
}
.gifts__discr {
  margin-bottom: 57px;
  font-size: 18px;
  line-height: 1.333;
  text-align: center;
}
.gifts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.gifts__card {
  background-color: var(--bg-color);
}
.gifts__card:hover {
  background-color: var(--white-color);
  -webkit-filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gifts__card--content {
  padding: 24px;
}
.gifts__card--discr {
  margin-bottom: 72px;
  font-size: 20px;
  line-height: 1.25;
}
.gifts__card--link {
  font-size: 14px;
  line-height: 1.357;
  color: var(--black-color);
}

.hero {
  background-color: var(--bg-section-color);
}
.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content {
  padding: 154px 125px 135px 162px;
}
.hero__title {
  font-size: 56px;
  line-height: 1.267;
  margin-bottom: 100px;
}
.hero__subtitle {
  font-size: 32px;
  line-height: 1.406;
}
.hero__discr {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 52px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.logo {
  font-family: Homemade Apple, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.166;
  color: var(--black-color);
}
.logo__footer {
  margin-right: 150px;
  margin-left: 150px;
  color: var(--brand-color);
}

.started {
  background-color: var(--brand-color);
}
.started__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 81px;
  padding-bottom: 69px;
}
.started__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.started__title {
  font-size: 32px;
  line-height: 1.406;
}

.work {
  background-color: var(--bg-section-color);
}
.work__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__content {
  padding: 164px 166px 104px 112px;
}
.work__title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.406;
}
.work__discr {
  margin-bottom: 63px;
  font-size: 20px;
  line-height: 1.406;
}

.container {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white-color);
  outline: 1px solid teal;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 18px;
  line-height: 1.277;
}
.navigation__item + .navigation__item {
  margin-left: 31px;
}
.navigation__link {
  padding-top: 20.37px;
  padding-bottom: 20.37px;
  color: var(--text-color);
}

.footer {
  background-color: var(--bg-section-color);
}
.footer__container {
  padding-top: 115px;
  padding-bottom: 35px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item + .footer__item {
  margin-left: 88px;
}/*# sourceMappingURL=main.css.map */