.footer{
    background-color: var(--bg-section-color);

&__container{
    padding-top: 115px;
    padding-bottom:35px ;}

&__content{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
   
// &::after{
//     content:'';
//     display: block;
//     width: 1000px;
//     border: 1px solid #000000;
// }    
}
&__list{
    display: flex;


}

&__item + &__item{
    margin-left: 88px;
}

&__link{
    color: var(--text-color);
}
    
}
.border{
    margin-left: 220px;
    margin-right: 220px;
    width: 1000px;
    margin-bottom: 55px;
    border-bottom: 1px solid var(--black-color);
}
