.header{
    
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white-color);
    
&__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}


